{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  

<section>
  
<div id="carouselExampleCaptions" class="carousel slide  " data-ride="carousel" >
  <ol class="carousel-indicators" style="position: absolute; bottom: 0; padding-top: 10px;">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>
  <div id="apple">
  <div class="carousel-inner site-hero">

    <div class="carousel-item active" data-interval="5000">        
      <div class="carousel-item-grad site-hero">
      <img src="{{ "images/backgrounds/worker.png" | absURL }}" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-caption  site-hero-content  site-hero-content-item text-center"> <!--d-none d-md-block--> 
        <h3>GICPL caters to Employee Welfare with the Highest Standards</h3>
      </div>
    </div>

    <div class="carousel-item " data-interval="10000">  
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/sskitchen.jpg" | absURL }}" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-caption  site-hero-content site-hero-content-item text-center " > 
        <h3>Served State of the art Industrial Kitchens in Gujarat</h3>
      </div>
    </div>

    <div class="carousel-item " data-interval="10000">  
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/chef.jpg" | absURL }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-caption  site-hero-content site-hero-content-item text-center " > 
        <h3>Ready to Serve with Safety Post Corona</h3>
      </div>
    </div>

    <div class="carousel-item " data-interval="20000">  
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/thali.jpg" | absURL }}" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-caption  site-hero-content site-hero-content-item text-center " > 
        <h3>Flavorful Local Cuisine made with Love and Care</h3>
      </div>
    </div>

    <div class="carousel-item" data-interval="25000">
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/chaicups.jpg" | absURL }}" class="d-block w-100" alt="..." >
    </div>
      <div class="carousel-caption site-hero-content site-hero-content-item text-center" >
        <h3>The Indian Ritual we pride in serving well</h3>       
      </div>
    </div>

    <div class="carousel-item" data-interval="15000">
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/fssai.jpg" | absURL }}" class="d-block w-100" alt="..." >
    </div>
      <div class="carousel-caption site-hero-content site-hero-content-item text-center" >
        <h3>Following the Quality and Safety Guidelines mandated by FSSAI</h3>       
      </div>
    </div>

    <div class="carousel-item" data-interval="25000">
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/hospital.jpg" | absURL }}" class="d-block w-100" alt="..." >
    </div>
      <div class="carousel-caption site-hero-content site-hero-content-item text-center" >
        <h3>Team Proudly Serving in the Frontline as Indian Covid-19 Warriors</h3>       
      </div>
    </div>

    <div class="carousel-item" data-interval="25000">
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/cafeteria.jpg" | absURL }}" class="d-block w-100" alt="..." >
    </div>
      <div class="carousel-caption site-hero-content site-hero-content-item text-center" >
        <h3>Feeding the Youth and Baccha Party in Schools & Colleges Balanced Nutritious Meals</h3>       
      </div>
    </div>

    <div class="carousel-item " data-interval="10000">  
      <div class="carousel-item-grad site-hero" >
      <img src="{{ "images/backgrounds/turban.png" | absURL }}" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-caption  site-hero-content site-hero-content-item text-center " > 
        <h3>Support Your Swadeshi Local Service Brand</h3>
      </div>
    </div>


  </div>


  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

</section>

 


{{ "<!-- Site Hero End -->" | safeHTML }}
{{ end }}
{{ end }}
