{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}


<div class="container">
<ul class="site-hero-content-buttons quote">
    <li>
      <a href="{{ .primary_button_url | absURL }}" class="btn btn-primary">
        <span class="quote-btn-area">
          <span data-text="{{ .primary_button }}">
            {{ .primary_button }}
          </span>
        </span>
      </a>
    </li>
  
  </ul>
</div>

  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}
